<h2>{{this.title}}</h2>
<p>Link: {{this.url}}</p>
<p>About: {{this.description}}</p>
<p>Posted: {{this.upload_date}}</p>

<a href="/links/edit/{{id}}">edit</a>
<a href="/links/">Home</a>

{{!-- <form action="/links/{{id}}?_method=delete" method="POST">
    <input type="submit" value="Delete">
</form> --}}