<h2>{{this.title}}</h2>
<p>Link: <a href="{{this.url}}">{{this.url}}</a></p>
<p>About: {{this.description}}</p>
<p>Posted: {{this.upload_date}}</p>
<a href="/links/" style="border: 1px solid white; padding: 4px; background: grey">Home</a>

<a href="/links/edit/{{id}}" style="border: 1px solid white; padding: 4px; background: grey">Edit</a>