<h2>{{this.title}}</h2>
<p>Link: <a href="{{this.url}}">{{this.url}}</a></p>
<p>About: {{this.description}}</p>
<p>Posted: {{this.upload_date}}</p>

<a href="/links/edit/{{id}}">edit</a>
<a href="/links/">Home</a>
